@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Message"]</h2>

<address>
    <h4>Reach us via e-mail</h4>
    
    <strong>Support:</strong><br/> 
    <a href="mailto:lchan@gmail.com">lchan@gmail.com</a><br />
    <a href="mailto:hkakinoki@gmail.com">hkakinoki@gmail.com</a>
</address>
