@{
    ViewData["Title"] = "";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1>Compound Interest</h1>
    <h4>
        By using this application, You can caluclate compound interest!<br />
        To calculate, please :  <a asp-area="Identity" asp-page="/Account/Register">Register</a> or
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </h4>
  

</div>