@model assignment1.Models.ApplicationRole

@{
    ViewData["Title"] = "AddRole";
}

<h2>Add Role</h2>

<h4>Add role to registred users</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

